<% content_for :navbar do %>
 <nav class="js-sticky-nav">
  		<ul >
        <div class='nav-items to-left'>
  			<p>Contact Us</p>
  			<%= link_to "Menu", manager_menu_path %>
        </div>
        <div class='nav-items to-center'>
  			<p>HOME</p>
        </div>
        <div class='nav-items to-right'>
  			<p>Hours</p>
  			<p>About Los</p>
        </div>
  		</ul> 
  	</nav>
  	<% end %>