<section class='hours-section'>
	<div class='hours'>
		<h2>Hours</h2>
		<div class="time-table">
			<div class="lunch">
				<h3>Lunch</h3>
				<ul>
					<p>Closed</p>
					<p>Closed</p>
					<p>Closed</p>
					<p>12:00PM - 3:00PM</p>
					<p>12:00PM - 3:00PM</p>
					<p>12:00PM - 3:00PM</p>
					<p>12:00PM - 3:00PM</p>
				</ul>
			</div>
			<div class='days'>
				<p>|  Mon  |</p>
				<p>|  Tue  |</p>
				<p>|  Wed  |</p>
				<p>|  Thu  |</p>
				<p>|  Fri  |</p>
				<p>|  Sat  |</p>
				<p>|  Sun  |</p>
			</div>
			<div class='dinner'>
				<h3>Dinner</h3>
				<ul>
					<p>6:00PM - 10:00PM</p>
					<p>Closed</p>
					<p>6:00PM - 10:00PM</p>
					<p>6:00PM - 10:00PM</p>
					<p>6:00PM - 11:00PM</p>
					<p>6:00PM - 11:00PM</p>
					<p>6:00PM - 10:00PM</p>
				</ul>
			</div>
		</div>
	</div>
</section>

<section>
	<div class='about-us'>
		<img class='about-us-image' src='/assets/los.jpg'>
		<div class='about-us-text'>
			<h6>Los Bandidos</h6>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			<p> * * </p>
		</div>
	</div>
</section>

