<section>
	<div class='hours'>
		<h2>Hours</h2>
		<div class="time-table">
			<div class="lunch">
				<h3>Lunch</h3>
				<ul>
					<p>Closed</p>
					<p>Closed</p>
					<p>Closed</p>
					<p>12:00PM - 3:00PM</p>
					<p>12:00PM - 3:00PM</p>
					<p>12:00PM - 3:00PM</p>
					<p>12:00PM - 3:00PM</p>
				</ul>
			</div>
			<div class='days'>
				<p>|  Mon  |</p>
				<p>|  Tue  |</p>
				<p>|  Wed  |</p>
				<p>|  Thu  |</p>
				<p>|  Fri  |</p>
				<p>|  Sat  |</p>
				<p>|  Sun  |</p>
			</div>
			<div class='dinner'>
				<h3>Dinner</h3>
				<ul>
					<p>6:00PM - 10:00PM</p>
					<p>Closed</p>
					<p>6:00PM - 10:00PM</p>
					<p>6:00PM - 10:00PM</p>
					<p>6:00PM - 11:00PM</p>
					<p>6:00PM - 11:00PM</p>
					<p>6:00PM - 10:00PM</p>
				</ul>
			</div>
		</div>
	</div>
</section>


<section class='whattoeat'>
	<div class='what-to-eat'>
		<h2>Food Chooser</h2>
		<div class='the-game'>
			<div class='appetizer'>
				<p>Appetizer</p>

			</div>	
			<div class='main-course'>

			</div>
		</div>
	</div>
</section>