// Place all the styles related to the manager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.a-tab {
	text-align: center;
	background-color:white;
	padding: 40px 25px;
	overflow: hidden;
}

.create-new {
	border: 3px dashed grey;
}


.menu-edit-delete {
	float: right;
}
.menu-titles {
	font-size: 22px;
}