// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-title {
	background-color: black;
}

.menu-head {
	margin: 10px 0 !important;
	display: inline-block;
	color: white;
}

.menu-contents {
	border: solid 1px black;
	padding-top: 20px;
}


#input-description {
	height: 200px;

}

.modal-content input {
	width: 200px;
}

.create-new-item {
	border: solid 1px grey;
	color: #d3d3d3;
	font-size: 14px;
}

.one-menu {
	padding-top: 5px;
	padding-bottom: 5px;
}
.name-price {
	display: inline;
}

.single-item {
	position: relative;
	padding-bottom: 10px;
}

.price {
	position: absolute;
	right: 10px;
	font-size: 15px !important;
	vertical-align: middle;
	top: 4px;

}

.description {
	font-size: 13px;
}