// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// font-family: 'Playfair Display', serif;
// font-family: 'Crimson Text', serif;


//=$$==$$==$$==$$==$$==$$==$$=page top

.toptop {
	background-image: url("/assets/main.jpg");
	background-size: cover;
	background-position: ;
	width: 100%;
	height: 400px;
	background-attachment: fixed;
}
.address {
	font-family: 'Abril Fatface', cursive;
	margin-left: 79%;
	position: relative;
	top: 20px;
	font-size: 20px;
	width: 200px;
	text-color: white;

}

//-!!--!!--!!--!!--!!--!!--!!- page top ends


//=$$==$$==$$==$$==$$==$$==$$= what to eat

.what-to-eat {
	width: 100%;
	height: 500px;
	position: relative;
}

.time-table {
	text-align: center;
}

.time-table div	{
	display: inline-block;
	text-align: center;
	margin: 10px 3%;
}

.time-table ul{
	padding-left: 0;
}

.time-table h3 {
	margin-bottom: 25px;
}

.appetizer, .main-course {
	
	display: inline-block;
}

section div h2 {
		text-align:center;
	top: 50px;
}

//-!!--!!--!!--!!--!!--!!--!!- what to eat ends
