// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// font-family: 'Playfair Display', serif;
// font-family: 'Crimson Text', serif;


//=$$==$$==$$==$$==$$==$$==$$=page top

.toptop {
	background-image: url("/assets/main.jpg");
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
}
.address {
	font-family: 'Abril Fatface', cursive;
	margin-left: 79%;
	position: relative;
	top: 20px;
	font-size: 20px;
	width: 200px;
	text-color: white;

}

//-!!--!!--!!--!!--!!--!!--!!- page top ends

//=$$==$$==$$==$$==$$==$$==$$=About us

.about-us {
	height: 650px;
	width: 100%;
	position: relative;
	margin-bottom:100px;
	
}

.about-us-text, .about-us-image {
	display: inline-block;
}

.about-us-text {
	width: 50%;
	text-align: right;
	right: 5%;
	position: absolute;
	font-size: 30px;
	background-image: url('/assets/us-background.jpg');
	background-size: cover;
	color: white;
	height: 80%;
}

.about-us-text p, .about-us-text h6 {
	margin-right: 40px;

}

.about-us-text p {
	margin-left: 40px;
}

.about-us img {
	width: 30%;
	position: relative;
	left: 19%;
	z-index: 1;
	top: 50%;
}

//-!!--!!--!!--!!--!!--!!--!!- About us ends





//=$$==$$==$$==$$==$$==$$==$$= HOURS
.hours-section {
	position: relative;
	padding: 50px 0;
	background-color: #f8f5ed;
}


.time-table {
	text-align: center;
}

.time-table div	{
	display: inline-block;
	text-align: center;
	margin: 10px 3%;
}

.time-table ul{
	padding-left: 0;
}

.time-table h3 {
	margin-bottom: 25px;
}

.hours h2 {
	margin-top: 0;
	text-align: center;
}



//-!!--!!--!!--!!--!!--!!--!!- HORSends


 