<!DOCTYPE html>
<html>
  <head>
    <title>Bombaydarbar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Crimson+Text|Playfair+Display" rel="stylesheet">

  </head>

  <body>
  <div class='toptop'>
  	<div class='address'>
  	<a href="https://www.google.com/maps/place/Bombay+Darbar/@25.7325448,-80.248559,15z/data=!4m5!3m4!1s0x0:0xce9074979c3c1c3f!8m2!3d25.7293398!4d-80.2407369" target="_blank" style="text-decoration:none;">2901 Florida Ave, Miami, FL 33133</a>
  	<p>(305)444-7272</p>
  	</div>
  </div>
  	<nav class="js-sticky-nav">
  		<ul >
        <div class='nav-items to-left'>
  			<p>Reserve table</p>
  			<p>Contact Us</p>
  			<p>Menu</p>
        </div>
        <div class='nav-items to-center'>
  			<p>HOME</p>
        </div>
        <div class='nav-items to-right'>
  			<p>Roulette</p>
  			<p>Hours</p>
  			<p>Us</p>
        </div>
  		</ul> 
  	</nav>
    <%= yield %>
  </body>
</html>
